@import url("form.css");
@import url("table.css");

body {
	line-height: 1 !important;
}

a, input[type="checkbox"], input[type="radio"] {
	cursor: pointer;
}

form:last-child, table:last-child {
	margin-bottom: 0;
}

legend > i, caption > i {
	margin-top: 7px !important;
	margin-right: 7px !important;
}

.hidden {
	display: none;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
.inline-block {
	display: inline-block;
}

#loading {
  display: none;
  position: relative;
  z-index: 9999;
}
#loading .overlay {
  position: fixed;
  /*background-color: rgba(255,255,255,0.6);*/
  background-color: white;
  opacity: 0.2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9991;
}
#loading img {
  position: fixed;
  width: 100px;
  margin: -50px 0 0 -50px;
  left: 50%;
  top: 50%;
  z-index: 9992;
}