@import url("form.css");
@import url("table.css");

body {
	line-height: 1 !important;
}

a, input[type="checkbox"], input[type="radio"] {
	cursor: pointer;
}

form:last-child, table:last-child {
	margin-bottom: 0;
}

legend > i, caption > i {
	margin-top: 7px !important;
	margin-right: 7px !important;
}

.hidden {
	display: none;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
